spring:
  application:
    name: synapse
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  aws:
    region: ${AWS_REGION}
    s3:
      bucket: ${AWS_S3_BUCKET}
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB


app:
  security:
    jwt:
      private-key-path: ${JWT_PRIVATE_KEY_PATH}                 # e.g., /opt/synapse/keys/private_key.pem
      public-key-path: ${JWT_PUBLIC_KEY_PATH}                   # e.g., /opt/synapse/keys/public_key.pem
